name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.3' 
      
      - name: Install dependencies
        run: |
          go version
          go get -u golang.org/x/lint/golint

      - name: Run build
        run: go build . 
      
      - name: Run vet & lint
        run: |
          go vet .
          golint .
    
      - name: Run tests
        run: go test -v -coverprofile=profile.cov ./...
   
      - name: codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./profile.cov
